<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <param-name>csstheme</param-name>
    <param-value>jf_skin</param-value>
  </context-param>
  <context-param>
    <param-name>csssuffix</param-name>
    <param-value>css</param-value>
  </context-param>
  <context-param>
    <param-name>jssuffix</param-name>
    <param-value>js</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>i18n/messages</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>com.common.listener.JfGlobalsListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>SSOClient</filter-name>
    <filter-class>
                com.chinasofti.jf.users.sso.client.sso.SSOFilter</filter-class>
    <init-param>
      <param-name>_except_urlpattern</param-name>
      <param-value>/api</param-value>
    </init-param>
    <init-param>
      <param-name>_except_root</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>URIEncoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>restFilter</filter-name>
    <filter-class>com.csi.jointforce.common.filter.RestFilter</filter-class>
    <init-param>
      <param-name>_except_urlpattern</param-name>
      <param-value>/api/ebc</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SSOClient</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>restFilter</filter-name>
    <url-pattern>/api</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>mySpringServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mySpringServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>45</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>gzcss</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>gzjs</extension>
    <mime-type>text/javascript</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>401</error-code>
    <location>/pages/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/pages/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/pages/error.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>c</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>c-rt</taglib-uri>
      <taglib-location>/WEB-INF/tld/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>x</taglib-uri>
      <taglib-location>/WEB-INF/tld/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>x-rt</taglib-uri>
      <taglib-location>/WEB-INF/tld/x-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>fmt</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>