@charset "utf-8";
/* CSS Document */
/*********************************************************************************/

html{ margin:0; padding:0;}
body {/*background:url(../images/body_bj.jpg) repeat-x;*/ margin:0; padding:0;font-family:"Microsoft Yahei";background-color: #Fff;}
body > div {margin:0 auto;padding:0;}
div,form,fieldset,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; }
table,input, select, button, textarea {margin:0;padding:0;font-size:12px; font-family:"Microsoft Yahei";}
img { border:none; vertical-align:top;display:block;}
ul, li { list-style-type:none;margin:0;padding:0; }
button { cursor:pointer; }

/*------------------------------------menu.jsp样式冲突补偿----------------------------------*/
#switchDown{margin-left: 30px !important;}
.mobidm{margin-left: -108px !important;}

/*------------------------------------页面公共样式----------------------------------*/
/*top样式*/
.top_bj{ background:url(../images/top_bj.jpg) repeat-x; height:76px; margin:0 auto; text-align:center;}
.top_img{ width:1190px; height:76px; margin:0 auto;}

/*cont内容样式*/
.cont_nr{ width:1190px; height:auto; margin:0 auto; padding-bottom:10px; overflow:hidden;background-color: #FFFFFF;}
.per_cont{width: 1190px;margin: 30px auto 0;padding-bottom: 54px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
.clear{ clear:both;}

/*菜单 caption样式*/
.jfpay_caption {width: 1170px;height: 32px;line-height: 32px;padding: 0 10px;font-size:12pt;}
.jfpay_caption .sp {display: inline-block;height: 24px;line-height: 20px;}
.jfpay_caption span.active {border-bottom: 2px solid #ff9400;color: #ff9400;}
.jfpay_caption .sp span {display: inline-block;height: 24px;line-height: 20px;padding: 0 15px;position: relative;cursor: pointer;}
#tabs-green{width: 1190px;}
/*标题样式*/
.cont_biaoti{ /*background: none repeat scroll 0 0 #f3f3f3;*/ font-family:"Microsoft Yahei"; font-size:18px; color:#525252; border-bottom:2px solid #808080; padding-bottom:6px;}

/*tab标签样式*/
.cont_tab{ width:1190px; height:22px; margin-top:12px;}
.cont_tab ul{margin:0}
.cont_tab ul li{ font-family:"Microsoft Yahei"; font-size:15px; display:block; float:left;}
.cont_tab ul li a{ color:#6c6c6c; text-decoration:none;}
.cont_tab ul li a:hover{ color:#1abc9c; text-decoration:none;}
.cont_jgx{ float:left; margin:0 20px 0 20px; color:#dbdee1;}
.cont_jgx2{ float:left; margin:0 20px 0 0; color:#dbdee1;}
.cont_jgx3{ margin:0 20px 0 0;cursor:pointer;}
.cont_tab_cur{color: #fff !important;background-color: #1abc9c;padding: 2px 10px 2px 10px;}

/*左侧导航栏*/
.per_lef_dhl{ width:190px; height:550px; border:#dadada 1px solid; background:#f3f3f3; float:left;}
.per_lef_zf{ width:165px; height:60px; line-height:60px; font-family:"Microsoft Yahei"; font-size:16px; color:#525252; padding-left:25px;}
.per_let_text{ width:190px; height:auto;}
.per_let_text ul{margin:0 !important}
.per_let_text ul li{ width:130px; height:40px; line-height:40px; padding-left:60px; list-style:none;}
.setting-tabs{float: left;
width: 190px;
border: 0;
min-height: 582px;
background-color: #fafafa;}
.setting-tabs-title {
height: 53px;
width: 100%;
border-bottom: 1px #dadada solid;
text-indent: 24px;
line-height: 53px;
text-align: left;
font-size: 14px;
font-weight: bold;
}
.settingTab {
width: 190px;
border: 0;
line-height: 53px;
text-align: left;
text-indent: 24px;
font-size: 14px;
}
.settingTab li.ui-state-active {
background: #fff url(../images/icon-agreementdefault-selected.png) 24px no-repeat;
}
.settingTab li {
border: 0;
width: 190px;
height: 22px;
line-height: 22px;
margin-top: 14px;
padding-left: 1px;
text-indent: 55px;
list-style: outside none;
background: url(../images/icon-agreementdefault.png) 24px no-repeat;
}
.settingTab-li {
color: #333 !important;
}
.settingTab-li a {
display: block;
}
.settingTab li a, .settingTab li.ui-state-active a {
padding-bottom: 0;
line-height: 22px;
}
.tab-selected, .settingTab-li a:hover, .settingTab-li a:focus, .settingTab-li a:active {
color: #1acc9c !important;
font-weight: bold !important;
background: url(../images/tabBg.gif) right no-repeat;
}
#li-funds {
background: url(../images/icon-funds.png) 24px no-repeat;
}
#li-funds-selected, #li-funds:hover, #li-funds.ui-state-active {
background: #fff url(../images/icon-funds-selected.png) 24px no-repeat;
color: #1acc9c;
}
#li-psw {
background: url(../images/icon-psw.gif) 24px no-repeat;
}
#li-psw-selected, #li-psw:hover, #li-psw.ui-state-active {
background: #fff url(../images/icon-psw-selected.gif) 24px no-repeat;
color: #1acc9c;
}
.settingDiv {
background: #FFF;
padding-bottom: 110px;
min-height: 582px;
}
.grayborder {
border: 1px solid #e5e5e5;
}
.floatright {
float: right;
}
.setting-contentDiv {
float: left;
display: block;
min-height: 582px;
margin: 0;
background: #fff;
border-left: none;
width: 1160px;
}

/*账户设置*/
.per_zhsz{ background:url(../images/zhsz_a.jpg) no-repeat; height:40px; font-size:14px; color:#525252; width:190px; width:191px;}
.per_zhsz_hover{ background:url(../images/zhsz_hover.jpg) no-repeat; height:20px; font-size:14px; color:#06bb98; width:191px;}

/*我的账户*/
.per_my{ background:url(../images/my_a.jpg) no-repeat; height:40px; font-size:14px; color:#525252; width:190px; width:191px;}
.per_my_hover{ background:url(../images/my_hover.jpg) no-repeat; height:20px; font-size:14px; color:#06bb98; width:191px;}

/*账户等级*/
.per_dj{ background:url(../images/zh_a.jpg) no-repeat; height:40px; font-size:14px; color:#525252; width:190px; width:191px;}
.per_dj_hover{ background:url(../images/zh_hover.jpg) no-repeat; height:20px; font-size:14px; color:#06bb98; width:191px;}

/*资金账户*/
.per_zj{ background:url(../images/money_a.jpg) no-repeat; height:40px; font-size:14px; color:#525252; width:190px; width:191px;}
.per_zj_hover{ background:url(../images/money_hover.jpg) no-repeat; height:20px; font-size:14px; color:#06bb98; width:191px;}

/*我的信用*/
.per_xy{ background:url(../images/xx_a.jpg) no-repeat; height:40px; font-size:14px; color:#525252; width:190px; width:191px;}
.per_xy_hover{ background:url(../images/xx_hover.jpg) no-repeat; height:20px; font-size:14px; color:#06bb98; width:191px;}

/*身份认证*/
.per_sf{ background:url(../images/sf_a.jpg) no-repeat; height:40px; font-size:14px; color:#525252; width:190px; width:191px;}
.per_sf_hover{ background:url(../images/sf_hover.jpg) no-repeat; height:20px; font-size:14px; color:#06bb98; width:191px;}

/*账户绑定*/
.per_zhbd{ background:url(../images/ahbd_a.jpg) no-repeat; height:40px; font-size:14px; color:#525252; width:190px; width:191px;}
.per_ahbd_hover{ background:url(../images/ahbd_hover.jpg) no-repeat; height:20px; font-size:14px; color:#06bb98; width:191px;}

/*修改密码*/
.per_mm{ background:url(../images/xiu_a.jpg) no-repeat; height:40px; font-size:14px; color:#525252; width:190px; width:191px;}
.per_mm_hover{ background:url(../images/xiu_hover.jpg) no-repeat; height:20px; font-size:14px; color:#06bb98; width:191px;}

/*右侧内容*/
.per_rig_nr{ width:1150px; height:auto; float:left; margin-left:30px;}

/*tab标签样式*/
.per_rig_nr_tab{ width:1150px; height:22px; margin-top:12px;}
.per_rig_nr_tab ul{margin:0;}
.per_rig_nr_tab ul li{ font-family:"Microsoft Yahei"; font-size:15px; display:block; float:left;}
.per_rig_nr_tab ul li a{ color:#6c6c6c; text-decoration:none;}
.per_rig_nr_tab ul li a:hover{ color:#1abc9c; text-decoration:none;}
.per_rig_nr_tab_jgx{ float:left; margin:0 20px 0 20px; color:#dbdee1;}

/*-----------------------------------开通成功页面样式----------------------------------------*/
.ktcg_bt{/* background: none repeat scroll 0 0 #f3f3f3*/; width:1150px; height:30px; font-size:18px; font-weight: 700; color:#525252; border-bottom:2px solid #808080;}
.ktcg_nr{ width:1150px; height:auto;}
.ktcg_nr_img{ width:100px; height:100px; margin:0 auto; padding-top:120px;}
.ktcg_nr_txt{ font-size:20px; color:#525252; text-align:center; margin-top:40px; height:20px;}

/*-----------------------------------未开通账户页面样式----------------------------------------*/
.wkt_style{ width:1183px; height:35px;line-height:35px; margin-top:20px; font-size:16px; font-weight: 700; color:#525252;border: 1px solid #eff0f1;padding-left: 5px;background: #f3f3f3;}
.wkt_style_ent{ width:1183px; height:35px;line-height:35px; margin-top:20px; font-size:16px; font-weight: 700; color:#525252;border: 1px solid #eff0f1;padding-left: 5px;background: #f3f3f3;}
.wkt_style_unpay{height: 17px;line-height: 13px; font-size:16px; font-weight: 700;padding-left:10px; color:#525252;float:left;}
.wkt_nr_img{ width:251px; height:213px; margin:0 auto; padding-top:40px;}
.wkt_nr_batton{ width:1150px; text-align:center;  height:42px; margin-top:50px;}
.wkt_nr_batton_bj{ background:url(../images/wkt_batton.jpg) no-repeat; width:251px; height:42px; border:none; text-align:center; cursor:pointer; font-family:"Microsoft Yahei"; font-size:16px; color:#fff;}
.wkt_nr_batton_bj:hover{ background:url(../images/wkt_batton.jpg) no-repeat; width:251px; height:42px; border:none; text-align:center; cursor:pointer; text-decoration:underline; font-family:"Microsoft Yahei"; font-size:16px; color:#fff;}

/*-----------------------------------开通账户页面样式----------------------------------------*/
.ktzh_table{ margin-top:0px; width:1150px; height:auto;}
.ktzh_txt00{ text-align:center; font-size:20px; font-weight: 400; color:#717171; height:60px;}
.ktzh_txt01{ text-align:right; font-size:14px; font-weight: 100; color:#717171;width:180px;line-height:50px;}
.ktzh_txt02{ text-align:left; font-size:14px; font-weight: 700;height:35px; color:#000; padding-left:25px;line-height:50px;}
.ktzh_txt03{ color:#ff0000; }
.ktzh_input{/*background:url(../images/input_img.jpg) no-repeat;*/ width:252px; height:40px; border:none; padding-left:5px; line-height:40px; color:#a8a8a8;}
.ktzh_batton{ padding-top:25px;}
.ktzh_tsxx{ text-align:left; font-size:12px; height:auto; color:#d0d0d0; padding-left:25px;}
.ktzh_select{width:266px; height:40px; border:medium none 1px; padding-left:5px; line-height:40px; color:#a8a8a8;}

/*-----------------------------------个人确认提现页面样式----------------------------------------*/
.tx_mar{ margin:15px 0 10px 0;font-size:12pt;font-weight:normal;}
.tx_table{ width:1150px; height:auto; margin-top:0px;}
.tx_txt01{ text-align:right; font-size:14px; color:#717171; height:30px;}
.tx_txt02{ text-align:left; font-size:14px; height:30px; color:#a8a8a8; padding-left:25px;}
.tx_batton{ background:url(../images/batton_bj.png) no-repeat; width:102px; height:35px; border:none; line-height:25px;font-size:16px; color:#fff; text-align:center; cursor:pointer;}
.tx_batton_unable{width:102px; height:35px; border:none; line-height:25px;font-size:14px; color:#CDC9A5; text-align:center; cursor:pointer;}
.tx_batton:hover{ background:url(../images/batton_bj.png) no-repeat; width:102px; height:35px; border:none; line-height:25px;font-size:16px; color:#fff; text-align:center; cursor:pointer; text-decoration:underline;}
.tx_fh{ margin-left:15px; font-size:12px; color:#3498db; text-decoration:underline; cursor:pointer;}
.tx_xzyhjk_img{display: inline;margin-right: 10px;}
/*-----------------------------------个人收入流水页面样式----------------------------------------*/
.srls_tab{ width:1190px; height:auto; margin-top:0px;}
.srls_jybz{ height:40px; text-align:right; font-size:12x; color:#808080; line-height:40px;}
.srls_jybz_table{ width:1150px; height:auto; border:1px solid #e5e5e5;}
.srls_jybz_top{ height:36px; background:#f7f7f7; border-bottom:1px solid #e5e5e5; font-size:12px; color:#666666; text-align:left; padding-left:15px; padding-right:15px;}
.srls_jybz_nr{ font-size:12px; color:#999999; text-align:left; padding:15px 15px;}
.srls_jybz_ming{ font-size:14px; color:#3498db; text-decoration:underline; cursor:pointer;}

/*-----------------------------------企业收入流水页面样式----------------------------------------*/
.srls_ent_tab{ width:1150px; height:auto; margin-top:30px;}
.srls_ent_jybz{ width:1150px; height:40px; text-align:right; font-size:12x; color:#808080; line-height:40px;}
.srls_ent_jybz_table{ width:1150px; height:auto; border:1px solid #e5e5e5;}
.srls_ent_jybz_top{ height:36px; background:#f7f7f7; border-bottom:1px solid #e5e5e5; font-size:12px; color:#666666; text-align:left; padding-left:15px; padding-right:15px;}
.srls_ent_jybz_nr{ font-size:12px; color:#999999; text-align:left; padding:15px 15px;}
.srls_ent_jybz_ming{ font-size:14px; color:#3498db; text-decoration:underline; cursor:pointer;}

/*-----------------------------------流水搜索框样式----------------------------------------*/
.pay-search-div{float:left;margin-right:100px;margin-top:30px;}
.pay-search-per-div{clear:both;margin-top:30px;}
.pay-search-input{height:27px;line-height:19px;}
.pay-amount-div{margin-right:100px;margin-top:38px;}
.pay_amount{color:red}
.pay_amount_name{margin-left: 100px;}
.pay_currency{float: right;height: 32px;line-height: 32px;}
.pay_currency_margin{margin-right:10px;margin-top:5px;}

/*-----------------------------------流水grid表格统一样式样式----------------------------------------*/
.pay-line-height18{line-height:18px;}
.pay-table-record {margin-left: 0px;margin-bottom: 10px;border: 1px solid #e5e5e5;height: auto;width: 1190px;}
.pay-table-ent-width{width: 1188px;}
.pay-table-opt-width{width: 100%;}
.pay-table-record thead {border: 1px solid #f7f7f7;text-align: left;text-indent: 20px;background: #f7f7f9;}
.pay-table-record tbody {border: 0px; color: #999999;}
.pay-table-record thead th {color:#666666;height: 35px;line-height: 35px;border-bottom: 1px solid #e2e2e2;border-top: 1px solid #e2e2e2;}
.pay-table-border-left{border-left:1px solid #e2e2e2;}
.pay-table-border-right{border-right:1px solid #e2e2e2;}
.pay-table-record_th_left{border-left: 1px solid #e2e2e2;}
.pay-table-record_th_right{border-right: 1px solid #e2e2e2;}
.pay-table-record tbody td {height: 40px;line-height: 40px;text-indent: 18px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;border-bottom: 1px solid #e2e2e2;padding-left: inherit;}
.pay-table-record-div{height:20px;line-height:20px;}
.pay-table-record-back{height:20px;line-height:20px;font-size:11px;color:gray;}
.pay-margin-left10{margin-left : 10px;}
.pay-margin-bottom10{margin-bottom : 10px;}

/*---------------------------------- 后台管理grid表格统一样式样式----------------------------------------*/
.pay-table-record-opt {margin-left: 0px;margin-bottom: 10px;border: 1px solid #e5e5e5;height: auto;width: 100%;}
.pay-table-record-opt thead {border: 1px solid #f7f7f7;text-align: left;text-indent: 20px;background: #f7f7f9;}
.pay-table-record-opt tbody {border: 0px; color: #999999;}
.pay-table-record-opt thead th {color:#666666;height: 35px;line-height: 35px;border-bottom: 1px solid #e2e2e2;border-top: 1px solid #e2e2e2;}
.pay-table-record-opt tbody td {height: 40px;line-height: 18px;text-indent: 18px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;border-bottom: 1px solid #e2e2e2;padding-left: inherit;}
.pay-padding-right35{padding-right : 35px;}
/*-----------------------------------个人提现成功页面样式----------------------------------------*/
.txcg_style{ width:1150px; height:54px; background:#e4fffa; border:1px solid #7fddcb; margin-top:24px;}
.txcg_icon{ margin-left:15px; font-family:"Microsoft Yahei"; font-size:12px; color:#1acb9c; line-height:23px; background:url(../images/zf.png) no-repeat 0px 5px; padding-left:25px; margin-top:5px;}
.txcg_icon02{ margin-left:40px; font-family:"Microsoft Yahei"; font-size:12px; color:#ffb535; line-height:23px; }
.txcg_table{ width:1150px; height:auto; margin-top:16px;}
.txcg_hot{ width:1150px; height:25px; margin-top:25px;}
.txcg_hot_txt{ font-size:12px; color:#666666;}
.txcg_hot_txt02{ font-size:12px; color:#3498db; text-decoration:underline; margin-left:10px; cursor:pointer;}

/*-----------------------------------个人账户添加银行卡页面样式----------------------------------------*/
.add_bg{height:38px; background:#fffbcc; border:1px solid #e6daa1; width:1145px;margin-top:8px; margin-bottom: 15px;}
.add_icon{margin-left:15px; font-family:"Microsoft Yahei"; font-size:12px; color:#f24a30; line-height:24px; background:url(../images/red_icon.png) no-repeat 0px 3px; padding-left:25px; margin-top:6px;}
.add_bg_success{ height:38px; background:#9AFF9A; border:1px solid #e6daa1; width:1172px;margin-top:8px; }
.add_icon_success{ margin-left:15px; font-family:"Microsoft Yahei"; font-size:12px; color:blank; line-height:24px; background:url(../images/zf.png) no-repeat 0px 3px; padding-left:25px; margin-top:6px;}
.add_mizi{color:#F00;}
.add_table{width:1150px; height:auto;}
.add_tsxx{text-align:left; font-size:12px; height:50px; color:#d0d0d0; padding-left:25px;}

.msg_info{height:38px; background:#E5F5FF; border:1px solid #C9D5E2; width:1166px;margin-top:8px; margin-bottom: 15px;}
.msg_info_icon{margin-left:15px; font-family:"Microsoft Yahei"; font-size:12px; color:#4d4d4d; line-height:24px; background:url(../images/info_icon.png) no-repeat 0px 3px; padding-left:25px; margin-top:6px;padding-right:10px;letter-spacing:1px;}
.msg_warn{height:38px; background:#fffbcc; border:1px solid #e6daa1; width:1150px;margin-top:8px; margin-bottom: 15px;}
.msg_warn_icon{margin-left:15px; font-family:"Microsoft Yahei"; font-size:12px; color:#f24a30; line-height:24px; background:url(../images/red_icon.png) no-repeat 0px 3px; padding-left:25px; margin-top:6px;padding-right:10px;letter-spacing:1px;}
.msg_error{height:38px; background:#fffbcc; border:1px solid #e6daa1; width:1150px;margin-top:8px; margin-bottom: 15px;}
.msg_error_icon{margin-left:15px; font-family:"Microsoft Yahei"; font-size:12px; color:#f24a30; line-height:24px; background:url(../images/red_icon.png) no-repeat 0px 3px; padding-left:25px; margin-top:6px;padding-right:10px;letter-spacing:1px;}
.msg_help{height:auto; background:#FFFFCC; border:1px dotted #FF6600; width:1150px;margin-top:15px; margin-bottom: 15px;}
.msg_help_icon{margin-left:15px; font-family:"Microsoft Yahei"; font-size:12px; color:#4d4d4d; line-height:24px; background:url(../images/help.png) no-repeat 0px 3px; padding-left:25px; margin-top:6px;padding-right:10px;letter-spacing:1px;}
.msg_help_txt_q{margin:5px 0 0 20px}
.msg_help_txt_a{margin:0px 0 5px 40px;color:#0099FF}
/*-----------------------------------个人账户总览页面样式----------------------------------------*/
.zhzl{ width:1150px; height:142px; margin-top:20px;}
.zhzl_top{ background:url(../images/lv_top.jpg) no-repeat; width:1150px; height:7px;}
.zhzl_cont{ background:url(../images/lv_bj.jpg) repeat-y; width:1150px; height:129px;}
.zhzl_bottom{ background:url(../images/lv_bottom.jpg) no-repeat; width:1150px; height:6px;}
.zhzl_lv_left{ width:400px; height:90px; float:left; margin-left:35px; padding-top:39px;}
.zhzl_lv_txt{ float: left; font-size:13px; color:#525252; height: 22px;width: 400px;}
.zhzl_lv_txt02{ float: left; font-size:28px; color:#525252; height: auto; margin-top: 4px; width: 400px;}
.zhzl_lv_rig{ width:120px; height:129px; float:right; margin-top:20px;}
.zhzl_lv_batton{ float:right;}
.zhzl_lv_txt03{ text-decoration:underline; font-size:14px; color:#3498db; width:142px; padding-top:30px; margin-left:20px;}
.zhzl_lv_txt04{font-size:14px; color:#CDC9A5; width:142px; padding-top:30px;margin-left:-7px;}
.zhzl_blue{ width:1150px; height:142px; margin-top:20px;}
.zhzl_blue_top{ background:url(../images/blue_top.jpg) no-repeat; width:1150px; height:7px;}
.zhzl_blue_cont{ background:url(../images/blue_bj.jpg) repeat-y; width:1150px; height:129px;}
.zhzl_blue_bottom{ background:url(../images/blue_bottom.jpg) no-repeat; width:1150px; height:6px;}
.zhzl_blue_txt{ text-decoration:underline; font-size:14px; color:#3498db; width:142px; padding-top:65px; margin-left:20px;}

.overview_per{width:1190px;  margin-top:20px;}
.overview_per_title{display:block;font-size:12pt;line-height:40px;clear:both}
.overview_per_balance{float: left;font-size:32pt;color: #525252;}
.overview_per_recharge{margin-top:10px}
.overview_per_withdraw{margin-left:15px;margin-top:10px}
.overview_per_more{float:left;}
.overview_per_more a{display:block;font-size:10pt;color:#1085d7;float:right;margin-right:15px;line-height:30px;clear:both}
.overview_per_row1{width:100%;float:left;}
/**background-color: #fbfbfb;**/
.overview_per_row1_left{width:800px;height:142px;padding:12px;float:left;border:1px solid #EFEFEF}
.overview_per_row1_left_box1{width:230px;float:left;text-align:bottom;}
.overview_per_row1_left_box2{width:510px;padding-left: 15px;float:right;border-left:1px dotted #ccc}
.overview_per_box2_item{width:200px;line-height:30px;display: inline;float: left;}
.overview_per_box2_item_small{width:180px;line-height:30px;display: inline;float: left;}
/**background-color: #fbfbfb;**/
.overview_per_row1_right{width:318px;height:142px;padding:12px;float:right;border:1px solid #EFEFEF}
.overview_per_row1_right p{line-height:30px;}
.overview_per_cards{font-family: "Microsoft Yahei";font-size: 12pt;color: #4d4d4d;line-height: 35px;height: 35px;background: url(../images/mycards.png) no-repeat 0px 10px;padding-left: 30px;margin-top: 3px;letter-spacing: 1px;}
.overview_per_cards a{text-decoration:none;color:#1085d7;}
.overview_per_cards a:hover{text-decoration:underline; cursor:pointer;color:#1085d7;}
/**background-color: #fbfbfb;**/
.overview_per_row2{width:1168px;height:150px;padding:10px;margin-top:20px;border:1px solid #EFEFEF;font-size:10pt;}
.overview_per_row2_title{width:1130px;height:35px;line-height:35px;font-size:12pt;}
.overview_per_row2_left{width:480px;float:left;}
.overview_per_row2_right{width:616px;float:right;}
.overview_per_row2 p{line-height:30px}

.overview_ent{width:1190px;  margin-top:20px;padding:0px 10px 0px 0px;}
.overview_ent_title{display:block;font-size:12pt;line-height:40px;clear:both}
.overview_ent_balance{float: left;font-size:32pt;color: #525252;}
.overview_ent_recharge{margin-top:10px}
.overview_ent_withdraw{margin-left:15px;margin-top:10px}
.overview_ent_row1{width:100%;float:left;}
/**background-color: #fbfbfb;**/
.overview_ent_row1_left{width:760px;height:142px;padding:12px;float:left;border:1px solid #EFEFEF}
.overview_ent_row1_left_box1{width:350px;float:left;text-align:bottom;}
.overview_ent_row1_left_box2{width: 380px;height:100%;padding-left: 15px;float:right;border-left:1px dotted #ccc}
.overview_ent_row1_left_box2_item{font-size: 12pt;line-height: 35px;}
.overview_ent_row1_left_box2_item span{float:left}
.overview_ent_billpay{float:left;margin-left:20px}
/**background-color: #fbfbfb;**/
.overview_ent_row1_right{width:360px;height:142px;padding:12px;float:right;border:1px solid #EFEFEF}
.overview_ent_row1_right p{line-height:25px;}
.overview_ent_cards{font-family: "Microsoft Yahei";font-size: 12pt;color: #4d4d4d;line-height: 35px;height: 35px;background: url(../images/mycards.png) no-repeat 0px 10px;padding-left: 30px;margin-top: 3px;letter-spacing: 1px;}
.overview_ent_cards a{text-decoration:none;color:#1085d7;}
.overview_ent_cards a:hover{text-decoration:underline; cursor:pointer;color:#1085d7;}
.overview_ent_row2{width:100%;margin-top:20px;font-size:10pt;}
.overview_ent_row2_title{width:1130px;height:35px;line-height:35px;font-size:12pt;}
/**background-color: #fbfbfb;**/
.overview_ent_row2_left{width:540px;float:left;padding:12px;height:130px;border:1px solid #EFEFEF;}
/**background-color: #fbfbfb;**/
.overview_ent_row2_right{width:580px;float:right;padding:12px;height:130px;border:1px solid #EFEFEF;}
.overview_ent_row2 p{line-height:30px}	
.overview_ent_row2_item{width:210px;line-height:30px;display: inline;float: left;align-content:right}
.overview_ent_row2_item_small{width:180px;line-height:30px;display: inline;float: left;align-content:right}
.overview_ent_row2_more{width:100px;float: right;}
.overview_ent_row2_more a{font-size: 10pt;color: #1085d7;float: center;line-height: 30px;}
/**background-color: #fbfbfb;**/
.overview_ent_row3{width:1168px;height:180px;padding:10px;margin-top:20px;border:1px solid #EFEFEF;font-size:10pt;}
.overview_ent_row3_title{width:1130px;height:35px;line-height:35px;font-size:12pt;}
.overview_ent_row3_left{width:535px;float:left;}
.overview_ent_row3_right{width:560px;float:right;}
.overview_ent_row3 p{line-height:30px}
/*-----------------------------------选择银行卡页面样式----------------------------------------*/
.choice{ width:1150px; height:auto; border:1px solid #e5e5e5; margin-top:30px;}
.choice_top{ background:url(../images/chioce_topbj.jpg) repeat-x; height:60px;}
.choice_top_num{ display:block; height:60px; margin-left:20px; font-size:16px; line-height:60px; float:left;}
.choice_top_num span{ color:#ed1717;}
.choice_top_batton{ float:right; margin-right:20px; display:block; line-height:60px;}
.choice_top_batton a{ color:#3498db; text-decoration:none;}
.choice_top_batton a:hover{ color:#3498db; cursor:pointer;}
.choice_top_img{float:left; margin-top:23px; margin-right:10px;}
.choice_jgx{ margin-left:5px; margin-right:5px; color:#d8d8d8;}
.choice_cont{ padding:20px 0 20px 0; }
.choice_table{ width:1150px; height:auto;}

/*账户余额内容*/
.cont_yue{ width:1150px; height:auto; margin-top:20px;}
.cont_yue_lv{ width:1150px; height:174px;}
.cont_yue_lv_top{ background:url(../images/lv_top.png) no-repeat; width:1150px; height:6px; overflow:hidden;}
.cont_yue_lv_center{ background:url(../images/lv_cont_bj.png) repeat-y; width:1150px; height:162px; overflow:hidden;}
.cont_yue_lv_bottom{ background:url(../images/lv_bottom.png) no-repeat; width:1150px; height:6px; overflow:hidden;}

.lv_01{ width:270px; height:118px; margin-left:6px; float:left; padding-top:50px;}
.lv_01_txt{ width:210px; font-family:"Microsoft Yahei"; font-size:13px; height:22px; margin-left:30px;}
.lv_01_num{ width:210px; font-family:"Microsoft Yahei"; font-size:28px; height:auto; margin-top:4px; margin-left:30px;}
.lv_jgx{ background:url(../images/yue_jgx.png) no-repeat; height:119px; float:left; width:2px; margin-top:23px;}
.lv_02{ width:270px; height:118px; float:left; padding-top:50px;}

.lv_batton{ width:170px; height:168px; float:right; *width:160px;}
.lv_batton_bj{ background:url(../images/batton_bj.png) no-repeat; width:102px; height:35px; border:none; text-align:center; font-family:"Microsoft Yahei"; font-size:14px; color:#fff; margin-left:35px; margin-top:30px;}
.lv_batton_bj_unable{width:102px; height:35px; border:none; text-align:center; font-family:"Microsoft Yahei"; font-size:14px; color:#CDC9A5; margin-left:35px; margin-top:30px;}
.lv_batton_bj:hover{ text-decoration:underline; cursor:pointer;}

.cont_yue_blue{ width:1150px; height:174px; margin-top:15px;}
.cont_yue_blue_top{ background:url(../images/blue_top.png) no-repeat; width:1150px; height:6px; overflow:hidden;}
.cont_yue_blue_center{ background:url(../images/blue_cont_bj.png) repeat-y; width:1150px; height:162px; overflow:hidden;}
.cont_yue_blue_bottom{ background:url(../images/blue_bottom.png) no-repeat; width:1150px; height:6px; overflow:hidden;}

.blue_01{ width:660px; height:168px; float:left; line-height:168px; padding-left:30px; font-size:12px; font-family:"Microsoft Yahei";}
.blue_01 span{ background:url(../images/js_batton.png) no-repeat; width:15px; height:15px; border:none; padding-left:25px;}
.blue_riqi{ color:#FC0;}

/*----------------------------------11月未出账单样式-----------------------------------------------*/

/*tab标签样式*/
.nTab{ width:988px; height:auto; margin-top:20px;}
.nTab .TabTitle{clear: both;height: 34px;width: 1148px;overflow: hidden;}
.nTab .TabTitle ul{margin:0;padding:0;}
.nTab .TabTitle li{float: left;width:120px;cursor: pointer;list-style-type: none;}
.nTab .TabTitle .active{ background:url(../images/tab_hover.jpg) no-repeat left top; width:120px; height:35px; text-align:center; line-height:34px;}
.nTab .TabTitle .normal{ background:url(../images/tab_a.jpg) no-repeat left top; text-align:center; line-height:34px;color:#a8a8a8;}
.nTab .TabContent{width:1152px;background:#f7f7f7;border:1px #e5e5e5 solid;height:70px; padding-left:35px; line-height:42px; color:#666666; margin-top: -1px;}
.nTab .TabContent2{width:1188px;background:#f7f7f7;border:1px #e5e5e5 solid;/*height:70px;*/ color:#666666; margin-top: -1px;}
.none {display:none;}

/*合计金额样式*/
.hj_jin{ width:1188px; height:42px; margin-top:8px; background:#e5f5ff; border:1px solid #7cc5f2;}
.hj_jin_per{ width:1150px; height:42px; margin-top:8px; background:#e5f5ff; border:1px solid #7cc5f2;margin-top:35px;margin-bottom:10px;}
.hj_left{ width:294px; height:42px; margin-left:35px; line-height:42px; float:left;}
.hj_right{ width:294px; height:42px; padding-right:35px; line-height:42px; float:right;text-align:right;}
.hj_left_per{height:42px; margin-left:35px; line-height:42px; float:left;}
.color_green{color:#1abc9c;}
.color_red{color:red;}

/*合计金额表格*/
.hj_table{ width:1188px; height:auto; margin-top:8px;}
.hj_ent_table{ width:1188px; height:auto; margin-top:8px;}
.hj_tab_boy{ border:1px solid #e5e5e5;}
.hj_tab_topbj{ background:#f7f7f7; height:36px;border-bottom:1px solid #e5e5e5; font-family:"Microsoft Yahei"; font-size:12px; color:#666666; padding-left:35px; line-height:36px; }
.hy_tab_nr{ border-bottom:1px solid #e5e5e5; font-family:"Microsoft Yahei"; font-size:12px; color:#999999; padding-left:35px; line-height:20px;}
.hy_tab_per{ border-bottom:1px solid #e5e5e5; font-family:"Microsoft Yahei"; font-size:12px; color:#999999; padding-left:16px; line-height:20px;}
.hy_tab_nrcolor
.hy_tab_nrcolor a{color:#3498db; text-decoration:underline; cursor:pointer;}
.hy_tab_nrcolor a:hover{color:#F90; text-decoration:underline; cursor:pointer;}

/*----------------------------------10月未支付页面样式-----------------------------------------------*/
.hj02{ width:1152px; height:56px; margin-top:8px; background:#e5f5ff; border:1px solid #7cc5f2; padding:10px 0 10px 35px; color:#666666;}
.hj02_batton{ background:url(../images/batton_bj.png) no-repeat; width:102px; height:35px; border:none; font-family:"Microsoft Yahei"; font-size:14px; color:#ffffff;}
.hj02_batton:hover{ background:url(../images/batton_bj.png) no-repeat; width:102px; height:35px; border:none; font-family:"Microsoft Yahei"; font-size:14px; color:#ffffff; text-decoration:underline; cursor:pointer;}
.hj02_batton_img{ float:left; margin-right:5px;}
.hj02_moth{ width:988px;min-height: 35px;margin: 5px;}
.hj02_moth_batton{ background:url(../images/moth_a.jpg) no-repeat; width:100px; height:32px; margin-top:8px; border:none; color:#1abc9c;}
.hj02_moth_batton:hover{ background:url(../images/moth_hover.jpg) no-repeat; width:100px; height:32px; margin-top:8px; border:none; color:#ffffff;}
.hj02_moth_batton02{ background:url(../images/moth_a.jpg) no-repeat; width:100px; height:32px; margin-top:8px; margin-left:10px; border:none; color:#1abc9c;}
.hj02_moth_batton02:hover{ background:url(../images/moth_hover.jpg) no-repeat; width:100px; height:32px; margin-top:8px; margin-left:10px; border:none; color:#ffffff;}
.hj02_txt{ margin-left:0px; line-height:35px;}

/*----------------------------------9月已支付页面样式-----------------------------------------------*/
/*已支付样式*/
.month{ width:1188px; height:76px; margin-top:8px; background:#e5f5ff; border:1px solid #7cc5f2; color:#666666;}
.month_left{ width:588px; height:76px; float:left;}
.month_center{ width:12px; height:76px; background:#CCC; float:left;}
.month_rig{ width:588px; height:76px; background:#fff; float:left;}
.month_left_txt{ height:68px; display:block; text-align:right; width:110px; padding-top:8px; float:left;}
.month_left_txt ul{}
.month_left_txt ul li{ line-height:20px;}
.month_rig_txt{ height:68px; display:block; text-align:left; width:210px; padding-top:8px; float:left; margin-left:10px;}
.month_rig_txt ul{}
.month_rig_txt ul li{ line-height:20px;}
.month_yzf{ width:100px;  margin:0 auto; margin-top:30px; display:block;}

/*---------------------------------开通成功页面样式-----------------------------------------------*/
.ktcg_img{ width:100px; height:100px; margin:0 auto; padding-top:30px; padding-bottom:30px;}
.ktcg_txt{ width:800px; display:block; margin:0 auto; font-family:"Microsoft Yahei"; font-size:16px; color:#525252; text-align:center;}

/*----------------------------------未开通页面样式-----------------------------------------------*/
.wei_ktcg_img{  margin:0 auto; width:260px; height:260px;}
.wei_batton_bj{ background:url(../images/wkt_batton.jpg) no-repeat; width:251px; height:42px; border:none; text-align:center; cursor:pointer; font-family:"Microsoft Yahei"; font-size:16px; color:#fff;}
.wei_batton_bj:hover{ background:url(../images/wkt_batton.jpg) no-repeat; width:251px; height:42px; border:none; text-align:center; cursor:pointer; text-decoration:underline; font-family:"Microsoft Yahei"; font-size:16px; color:#fff;}
.wei_batton{ width:251px; height:42px; margin:0 auto; margin-top:25px;}
/*----------------------------------开通账户--注册页面样式-----------------------------------------------*/

.zc_bt{ width:953px; height:22px; padding-left:36px; font-family:""; font-size:16px; color:#525252; margin-top:40px;}

/*标题--left*/
.zc_left{ width:250px; height:auto; float:left; margin-top:20px;}
.zc_left ul{ font-family:"Microsoft Yahei"; font-size:14px; color:#717171;}
.zc_left ul li{text-align:right;}

.zc_line{ line-height:40px;}
.zc_line02{ line-height:60px;}

/*标题--center*/
.zc_center{ width:270px; height:auto; float:left; margin-top:20px; padding-left:26px; font-size:14px; color:#a8a8a8;}
.zc_inputbj{ /*background:url(../images/input_img.jpg) no-repeat;*/ width:247px; height:40px; border:none; padding-left:5px; line-height:40px; border: 1px solid #ccc;}
.zc_batton{ margin-top:20px;}

/*标题--right*/
.zc_right{ width:288px; height:auto; float:left; margin-top:20px; margin-left:10px;}
.zc_beizhu{ font-family:"Microsoft Yahei"; font-size:12px; color:#d0d0d0;}

/*-----------------------------------我的银行卡页面样式----------------------------------------*/
.yhk_title{background-color : #eff0f1;height:60px;line-height:60px;}
.yhk_title p{margin-left:15px;}
.yhk_style{ width:1168px; margin-top:-10px;border: 1px solid #fff;/*padding: 10px;*/min-height: 215px;height:auto;}
.yhk_01{ width:282px; height:95px; border:1px solid #dddddd; background:#eff0f1; float:left;margin: 10px 0 20px 20px;}
.yhk_01_top{ width:266px; height:42px; line-height:42px; border-bottom:1px dashed #dddddd; padding:8px 8px 0px 8px;margin:0 8px 8px 0;}
.yhk_01_top_logo{ float:left;}
.yhk_01_top_name{width : 160px;height:40px;text-align:center;font-size:15px;background-color:#FEFEFD;letter-spacing:2px;font-family:'黑体';font-weight:bold;color:gray;}
.yhk_01_top_bt{ float:left; font-family:"Microsoft Yahei"; font-size:12px; margin-left:40px;float: left;}
.yhk_01_cxk{ background:url(../images/cxk.jpg) center no-repeat; float:right; width:49px; height:42px;}
.yhk_01_bottom{ width:266px; height:29px; padding:8px 8px 0px 8px;}
.yhk_01_bott01{ float:left; font-size:12px; color:gray; font-family:"Microsoft Yahei"; margin-left: 5px}
.yhk_01_bott01 a{ text-decoration:none;color:#0088cc;}
.yhk_01_bott01 a:hover{ text-decoration:underline;color:#0088cc;}
.yhk_01_bott02{ float:right; font-size:12px; color:#0088cc; font-family:"Microsoft Yahei";}
.yhk_01_bott03{ float:right; font-size:12px; color:#1abc9c; font-family:"Microsoft Yahei";}
.yhk_01_bott04{ float:right; font-size:12px; color:red; font-family:"Microsoft Yahei";}
.yhk_01_bott05{ float:right; font-size:12px; color:gray; font-family:"Microsoft Yahei";}
.yhk_01_bott02 a{ text-decoration:none;}
.yhk_01_bott02 a:hover{ text-decoration:underline;}
.yhk_mar{ padding:8px 8px 0px 8px;height:42px; line-height:42px;}
.yhk_mar_add{ width:282px; height:97px; margin-left:20px; float:left;margin-top:10px;}
.yhk_add{ background:url(../images/add_ka.jpg) no-repeat; width:282px; height:97px; cursor:pointer; border:none;} 
.yhk_add:hover{ background:url(../images/add_ka_hover.jpg) no-repeat; width:282px; height:97px; cursor:pointer; border:none;} 

/*-----------------------------------银行卡详情页面样式----------------------------------------*/
.yh_xq{ width:1150px; height:35px; margin-top:10px;}
.yh_xq_batton{ background:url(../images/dele.jpg) no-repeat; width:74px; height:35px; float:right; border:none; color:#818181; font-size:14px; cursor:pointer;}
.yh_xq_batton:hover{ background:url(../images/dele.jpg) no-repeat; width:74px; height:35px; float:right; border:none; color:#818181; font-size:14px; cursor:pointer; text-decoration:underline;}
.yh_xq_01{ width:1166px; height:120px; border:1px solid #dddddd; background:#eff0f1; float:left; margin-top:10px;}
.yh_xq_01_top{ width:1150px; height:42px; line-height: 42px;border-bottom:1px dashed #dddddd; padding:8px;}
.yh_xq_01_cxk{ background:url(../images/cxk.jpg) center no-repeat; float:left; width:49px; height:42px; margin-left:10px;}
.yh_xq_01_tel{ font-size:14px; color:#818181; margin-left:20px; float:left;}
.yh_xq_01_bottom{ width:214px; height:60px; padding:8px 8px 0px 20px;}
.yh_xq_01_bott01{ float:left; font-size:14px; color:#818181; margin-left:5px; width:766px;}
.yh_xq_01_bott02{ float:left; font-size:12px; color:#0088cc; font-family:"Microsoft Yahei"; width:766px;}

/*-----------------------------------模块定义样式----------------------------------------*/
/*个人银行卡管理*/
.pay-bankcard-box{height:43px;line-height:43px}
.pay-bankcard-box img{display:inline;margin-right:10px}
.pay-bankcard-hr{border:1px dotted #ccc;margin:10px 0}
.pay-bankcard-add{height:93px;line-height:93px;}

/*-----------------------------------提现充值页面样式----------------------------------------*/
.pay_deposit_style{ width:1150px; height:35px; background:#e4fffa; border:1px solid #7fddcb; margin-top:24px;}
.pay_deposit_icon{ margin-left:15px; font-family:"Microsoft Yahei"; font-size:12px; color:#1acb9c; line-height:35px; background:url(../images/zf.png) no-repeat 0px 5px; padding-left:25px; margin-top:5px;}
.pay_deposit_icon02{ margin-left:40px; font-family:"Microsoft Yahei"; font-size:12px; color:#ffb535; line-height:35px; }
.pay_deposit_card_list{width: 98%;padding: 10px;margin-bottom: 10px;}
.pay_deposit_card_item{float: left;width: 248px;border: 1px solid #ccc;padding: 10px 0px 10px 20px;margin: 5px;display: inline-flex;}
.pay_deposit_card_item img{margin-left:10px;}
.pay_deposit_card_input{margin-top:15px;}

/*--------------------------------------12月2日以下为增补页面的样式----------------------------------*/
/*------------账单支付页面样式-------------*/
.zdzf_center{ width:auto; height:auto; float:left; margin-top:20px; padding-left:26px; font-size:14px; color:#a8a8a8;}
 .zdzf_yzm{ background:url(../images/yzm.jpg) no-repeat; width:161px; height:39px; border:none; font-size:15px; color:#525252; margin-left:10px; cursor:pointer;}
.zdzf_yzm:hover{ background:url(../images/yzm.jpg) no-repeat; width:161px; height:39px; border:none; font-size:15px; color:#525252; margin-left:10px; cursor:pointer; text-decoration:underline;}

/*------------支付成功页面样式-------------*/
.zfcg_txt{ font-family:"Microsoft Yahei"; font-size:20px; color:#f2890d; width:800px; text-align:center; margin:0 auto;}
.zfcg_fhzh{ font-size:14px; color:#3498db; text-decoration:underline; width:800px; text-align:center; margin:0 auto; padding-top:20px; cursor:pointer;}
.zfcg_fhzh:hover{ font-size:14px; color:#0033FF; text-decoration:underline; width:800px; text-align:center; margin:0 auto; padding-top:20px; cursor:pointer;}

/*------------支付失败页面样式-------------*/
.zfsb_txt{ font-family:"Microsoft Yahei"; font-size:20px; color:#525252; width:800px; text-align:center; margin:0 auto;}
.zfsb_txt02{ width:990px; margin:0 auto; padding-top:20px; text-align:center; }
.zfsb_fhzh{ font-size:14px; color:#3498db; text-decoration:underline; text-align:center; padding-top:20px; cursor:pointer;}
.zfsb_fhzh:hover{ font-size:14px; color:#0033FF; text-decoration:underline; text-align:center; padding-top:20px; cursor:pointer;}
.jfpay_bule_a{font-size:14px;color:#1085d7;text-decoration:none;};
.jfpay_bule_a:hover{font-size:14px;color:#1085d7;text-decoration:underline;};
/*------------发包方资金账户页面样式-------------*/
.fbf_batton{ background:url(../images/batton_bj.png) no-repeat; width:102px; height:35px; border:none; text-align:center; color:#fff; font-size:16px; margin-right:20px; cursor:pointer;}
.fbf_batton:hover{ background:url(../images/batton_bj.png) no-repeat; width:102px; height:35px; border:none; text-align:center; color:#fff; font-size:16px; margin-right:20px; text-decoration:underline; cursor:pointer;}
.fbf_batton_fail{ background:url(../images/battonPr_bj.png) no-repeat; width:102px; height:35px; border:none; text-align:center; color:#fff; font-size:16px; margin-right:20px; cursor:pointer;}
.fbf_batton_fail:hover{ background:url(../images/battonPr_bj.png) no-repeat; width:102px; height:35px; border:none; text-align:center; color:#fff; font-size:16px; margin-right:20px; text-decoration:underline; cursor:pointer;}
.fbf_xgsj{ font-size:14px; color:#3498db; text-decoration:underline; margin-left:20px; cursor:pointer;}

/*------------修改密码页面样式-------------*/
.xgmm_txt{ color:#CCC;}
.xgmm_tsxx{font-size:12px;color:#F1B71B;}
.xgmm_line_span{float: left;margin: 15px 0px;}

/*------------选择网上银行页面样式-------------*/
.xz_wsyh{ width:1188px; height:auto; margin-top:0px; border:0px solid #e5e5e5;}
.xz_wsyh_top{ width:1158px; height:35px; border-bottom:1px solid #e5e5e5; font-size:16px; color:#525252; line-height:35px; padding-left:20px;}
.xz_wsyh_cont{ width:1150px; height:auto; margin:0 auto; padding-top:10px; padding-bottom:10px;}
.xz_wsyh_conttp{ font-size:14px;}
.xz_wsyh_cont_img{ margin-top:20px;}
.xz_czje{ margin-left:20px; font-size:14px;}
.xz_input{/*background:url(../images/money_input_img.jpg) no-repeat;*/ width:103px; height:40px; border:none; padding-left:5px; margin-left:10px; margin-right:10px;}
.xz_batton{ width:1188px; height:auto; margin: 0 0 10px 20px;}

/*------------选择网上银行页面样式-------------*/
.czqq{ width:1148px; height:38px; line-height:38px; font-family:"Microsoft Yahei"; font-size:12px; color:#f24a30; background:#fffbcc; border:1px solid #e6daa1; margin-top:30px;}
.czqq_icon{ margin-left:15px; font-family:"Microsoft Yahei"; font-size:12px; color:#f24a30; line-height:23px; background:url(../images/red_icon.png) no-repeat 0px 3px; padding-left:25px; margin-top:6px;}
.czqq_xztxt{ float:left;width:890px; margin-top:20px; height:30px; line-height:30px; padding-left:100px;}
.czqq_xztxt a{ color:#3498db; cursor:pointer; text-decoration:none;}
.czqq_xztxt a:hover{ color:#3498db; cursor:pointer; text-decoration:underline;}
.czqq_xztxt_center{ width:800px; height:auto; float:left; margin-top:20px; padding-left:26px; font-size:14px; color:#a8a8a8;}

.pay_auth_span{margin-bottom:100px;display: block;}
.pay_auth_tip{background: url(../images/warn.png) no-repeat 0px 8px;width: 600px;margin: 100px 0 0 320px;text-align: center;font-size: 14pt;color: #F1B71B;line-height: 40px;height: 40px;display: block;font-weight: bold;}
.pay_auth{text-align: center;display: block;margin: 20px 0 50px 0;}
.bank_deposit_remind{ margin-left:25px; font-family:"Microsoft Yahei"; font-size:14px; color:#717171; }
.bank_deposit_remind_tab{width:800px;border:1px solid #cccccc;margin-left:25px;}
.bank_deposit_remind_tab th{background-color: #eff0f1;height:25px;border:1px solid #cccccc;font-size:12px;font-weight: bold;}
.bank_deposit_remind_tab td{height:25px;border:1px solid #cccccc;padding-left:10px;}
/*-----------------------------------运营管理页面样式----------------------------------------*/
.pay-opt-body{width: 99%;height: auto;padding-top: 5px;margin: 0 auto;padding-bottom: 35px;overflow: hidden;}
.pay_opt_main{width:100%; height:auto; margin-top:8px;}
.pay_opt_table{width:100%; border: 1px solid #e5e5e5;}
.pay_opt_jybz{width:100%; height:40px; text-align:right; font-size:12x; color:#808080; line-height:40px;}

.pay_v_main{width:1190; min-height:415px;height:auto; margin-top:8px;}

/*账单*/
.pay-bill-list{}
.pay-bill-date {float:left;padding:3px;margin:5px;border:1px solid #ccc}
.pay-bill-current{background-color:#f7f7f7}
.pay-bill-unpaytip{background-color:#f7f7f7;border:1px solid #ccc;height:70px;padding-left:10px}
.pay-d-bill-unpaytip{background-color:#f7f7f7;border:1px solid #ccc;height:70px;padding-left:10px;}
.pay-bill-unpaytip-txt1{height:35px;line-height:35px;}
.pay-tb-confirm{width:1188px;margin:0;border:1px solid #ccc}
.pay_ent_bill_unit{margin-right:10px;line-height:42px;height:42px;}

/*登录 */
.pay_opt_login_body {/*background:url(../images/bg_bj.png) repeat-x #f1f1f1;*/ height:554px; margin:0; padding:0;}
.bg_bj{/* background:url(../images/bj.jpg) no-repeat;*/ width:1047px; height:609px; margin:0 auto;}
.cont{ width:282px; height:246px; padding-top: 140px; margin:0 auto;/*float:right; margin-right:32px; margin-top:228px; display:inline;*/}
.input_txt{ width:282px; height:38px; display:block; float:right;}
.input_bj{ background:url(../images/yh_img.png) no-repeat; width:237px; height:40px !important; border:none;  padding:0 0 0 45px !important; font-family:"Microsoft Yahei"; color:#a8a8a8; font-size:12px; line-height:40px;}
.input_mar{ margin-top:17px;}
.input_bj02{ background:url(../images/mima_img.png) no-repeat; width:237px; height:40px !important; border:none; padding:0 0 0 45px  !important; font-family:"Microsoft Yahei"; color:#a8a8a8; font-size:12px; line-height:40px;}
.input_left{ float:left;}
.input_bj03{ background:url(../images/yzm_img.png) no-repeat; width:142px; height:40px; border:none; padding-left:45px; font-family:"Microsoft Yahei"; color:#a8a8a8; font-size:12px; line-height:40px;}
.input_batton{ background:url(../images/login_batton.png) no-repeat; font-family:"Microsoft Yahei"; font-size:16px; color:#ffffff; border:none; width:282px; height:44px; cursor:pointer;}
.input_batton:hover{ background:url(../images/login_batton.png) no-repeat; font-family:"Microsoft Yahei"; font-size:16px; color:#ffffff; border:none; width:282px; height:44px; cursor:pointer; text-decoration:underline;}
.input_yzm{ width:90px; height:39px; background:#f2f8f8; border:1px solid #e3e9e7;font-family:"Microsoft Yahei"; font-size:12px; color:#a3a7a6; cursor:pointer;}
.input_yzm:hover{ width:90px; height:39px; background:#ebf4f6; border:1px solid #e3e9e7;font-family:"Microsoft Yahei"; font-size:12px; color:#a3a7a6; cursor:pointer;}
.yzm_bj{ margin-left:10px;}
.login_batton{ margin-top:48px; float:right;}

/*信用额度设置*/
.pay_opt_creditline_tb{width:450px;}
.pay_opt_creditline_tb th{text-align: right;height: 40px;line-height: 35px;padding-right: 10px;}


.pay_div_hidden{display:none}
.pay_txt_warn{color:red;text-align: center;}
.pay-clear{clear:both}
.leftside {width: 188px;height: auto !important;height: 200px;min-height: 200px;padding: 20px;border: 1px solid #ededed;margin: 8px;font-size: 14px;}
.floatleft {float: left;}
.rightside {width: 920px;float: right;margin: 8px 15px 15px 0;}
.floatright {float: right;}
.bgwhite {background: #fff;}
.code-con {width: 1190px;min-height: 500px;margin: 0 auto;margin-top: 5px;}

input,textarea{border:1px solid #ccc;}
.pay-box-30{float:left;width:29%;border:1px solid #ccc;padding:10px;margin:5px}
.pay-box-25{float:left;width:22%;border:1px solid #ccc;padding:5px;margin:5px}
.pay-box-95{width:95%;border:1px solid #ccc;padding:10px;margin-bottom:10px}	
.pay-box-100{width:100%;border:1px solid #ccc;padding:10px;margin-bottom:10px}	
.pay-hr-dot{border:1px dotted #ccc;}
.pay-msg-warn{color:red;font-size:12pt;}
.pay-msg-info{color:green;font-size:12pt;}

/*表格*/
.opt-table-caption{font-size:12pt;font-weight:bold}
.opt-table{width:98%}
.opt-table tr{height:30px;line-height:30px;}
.opt-table th{padding:5px;background-color:#eee}
.opt-table td{padding:5px;}
.pay-tb-title{text-align:right}
.pay-table-pages{float:right;margin:10px 20px 10px 0;}
.pay-table-pages input{width:20px;border:1px solid #ccc}

.pay-td-normal{}
.pay-td-memo{color:#ccc;display:block}
.pay_validate_fail{border:1px solid red}
.pay-td-right{text-align:right;padding-right:8px;}
.pay-td-right-bill{text-align:right;padding-right:30px;}
.pay-td-center{text-align:center;}
.pay_tr{ height:36px;border-bottom:1px solid #e5e5e5; font-family:"Microsoft Yahei"; font-size:12px; color:#999999; padding-left:15px; line-height:20px;}
.pay_input{background-color:#F2F2F2 !important}
.pay_tip{color: #FF6600;}
.pay_validation_tip{color: #999999;padding-left: 25px;margin-bottom: 5px;display: block;}
.pay_validation_warn{color: #ff9900;padding-left: 25px;margin-bottom: 5px;display: block;font-weight:normal}
.pay_validation_fail{color: #FF6600;line-height:24px;background:url(../images/red_icon.png) no-repeat 0px 3px; padding-left:25px;}

/*Blank pages*/
.pay_blank{height: 350px;padding-top: 80px;display: none;}
#pay_nodata {width: 100%;height: auto;margin: 0;color: #c2c2c2;}
.pay_nodata_bg {background: url(../images/blank.png) no-repeat -74px top;width: 74px;height: 74px;margin: 0 auto;}
#pay_nodata .pay_nodata_desc {font-size: 14px;margin: 1em 0;line-height: 1.5em;text-align: center;}
#pay_nodata .pay_nodata_tips {margin-top: 16px;line-height: 1.5em;font-size: 12px;padding: 1em;background: #f6f6f6;border-radius: 5px;}
/************************/
.pay_cont_sys {width: 1190px;height: auto;margin: 0 auto;padding-bottom: 35px;overflow: hidden;}
.pay_menu_sys{clear:both;}
.pay_menu_sys a{height:30px;line-height:30px;font-size:12pt;}
.pay_menu_sys hr{border:1px solid #ccc;margin:0}
.pay_sys_logoname{width:300px;text-align:center;font-size: 24px;color: #fff;height:60px;line-height:60px;}

/*******************************后台管理样式 ******************************/
.pay-opt-select{ color: #a8a8a8;height: 27px;line-height: 27px;padding-left: 5px;width: 122px;border:1px solid #ccc;}
.pay-opt-input{height:24px;padding-left: 5px;margin-left:10px;padding-left: 5px;color: #a8a8a;}
.pay-display-none{display:none;}
.pay-dialog-input{width:120px;height:24px;border:1px solid #ccc;}
.pay-record-more{background: none repeat scroll 0 0 #f7f7f7;border: 1px solid #dedede;height: 28px;line-height: 28px;margin-bottom: 20px;margin-top: 5px;text-align: center;}

.opt_batton_bj{ background:url(../images/wkt_batton.jpg) no-repeat; width:251px; height:42px; border:none; text-align:center; cursor:pointer; font-family:"Microsoft Yahei"; font-size:16px; color:#fff;margin-left:70px;}
.opt_batton_bj:hover{ background:url(../images/wkt_batton.jpg) no-repeat; width:251px; height:42px; border:none; text-align:center; cursor:pointer; text-decoration:underline; font-family:"Microsoft Yahei"; font-size:16px; color:#fff;margin-left:70px;}
.opt_errmsg {height: 38px;background: #fffbcc;border: 1px solid #e6daa1;width: 1187px;margin-top: 8px;}
.opt_alert{color: #999999;padding-left: 25px;margin-bottom: 5px;display: block;}
#error_bar {display: none;}

/********************************支付系统遮罩样式****************************************/
#jfpayMask{display:block;position:fixed;left:0px;right:0px;top:0px;bottom:0px;z-index: 999;background-color: #000;opacity: 0.5; filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;}
.jfpay-container-dialog{border-radius: 5px;width: 630px;height:146px;z-index: 9999;position: fixed;border: 1px solid #ccc;left:50%;margin-left:-315px;top:50%;margin-top:-100px;}
.jfpay-container-dialog .title{height: 45px;line-height: 45px;color:#fff;font-size:14px;padding-left:20px;background: #1abc9c;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.jfpay-auth-tip{background: url(../images/pay_alert.png) no-repeat 0px 0px;text-align: center;font-size: 12pt;color: #5a5a5a;line-height: 40px;height: 40px;display: block;font-weight: bold;padding-left:35px;}
.jfpay-container-dialog .container-base{background: #fff;height:127px;padding-bottom: 28px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.jfpay-container-dialog .container-alert{margin-left:60px;height: 50px;margin-top:30px;float:left;}
.jfpay-container-dialog .container-btn{text-align:center;}

.jfpay-container-dialog-big{border-radius: 5px;width: 630px;height:175px;z-index: 9999;position: fixed;border: 1px solid #ccc;left:50%;margin-left:-315px;top:50%;margin-top:-130px;}
.jfpay-container-dialog-big .title{height: 45px;line-height: 45px;color:#fff;font-size:14px;padding-left:20px;background: #1abc9c;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.jfpay-auth-tip-big{background: url(../images/pay_alert.png) no-repeat 0px 0px;font-size: 12pt;color: #5a5a5a;line-height:30px;display: block;font-weight: bold;padding-left:35px;padding-right:35px;}
.jfpay-container-dialog-big .container-base{background: #fff;height:150px;padding-bottom: 28px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.jfpay-container-dialog-big .container-alert{margin-left:35px;height: 130px;margin-top:30px;float:left;}
.jfpay-container-dialog-big .container-btn{text-align:center;}

/********************************实时冻结签单页面样式****************************************/
.jfpay-order-left-cont{width:750px;height:560px;float:left;border:1px solid #cccccc;}
.jfpay-order-right-cont{width:370px;height:560px;float:right;border:1px solid #cccccc;}
.jfpay-order-title{padding-left: 80px;height:50px;line-height: 50px;font-size: 18px;color: #1abc9c;}
.jfpay-order-cont-row{height:45px;line-height:45px;font-size:14px;}
.jfpay-order-cont-detail-left{display: inline-block;width:250px;text-align: right;margin-right:15px;}
.jfpay-order-cont-detail-right{display: inline-block;width:460px;text-align: left;}
.jfpay-order-cont-detail-right-amount{display: inline-block;width: 400px;text-align: left;color: #ffa800;font-size: 24px;font-weight: bold;}
#tgrightcolumn {width: 310px;float: right;background: #fff;padding: 0 25px;margin-right: 5px;}
#tgrightcolumn h1.title {padding: 8px 0 7px;height: 40px;line-height: 40px;font-size: 16px;color: #666;border-bottom: 2px solid #dcdcdc;}
.whytg li {padding: 12px 0;border-bottom: 1px dashed #e6e6e6;}
.whytg li:last-child {border:0;}
.whytg li div.title {padding-bottom:8px;font-size: 14px;}
.whytg li div.title i {font-size: 12px;}
.whytg li div.title.or {color:#fd6804;}
.whytg li div.title.green {color:#1abc9c;}
.tgright_numbox_or, .tgright_numbox_green {display: inline-block;width: 17px;height: 17px;line-height: 17px;text-align: center;border-radius: 17px;border: 1px solid #fd6804;margin-right: 5px;vertical-align: middle;font-style: normal;}
.tgright_numbox_green {border: 1px solid #1abc9c;}
#tgrightcolumn .context {padding-left: 22px;line-height: 22px;}
#tgrightcolumn h1.title i {display: inline-block;width: 35px;height: 40px;background: url(images/tgright_icon.png);margin-right: 10px;vertical-align: middle;}
.jfpay-kicon{display: inline-block;width: 16px;height: 14px;background: url(images/titleh2_icon.png);margin-right: 10px;}
