<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.common.vo.PayAdmins">
	<resultMap id="BaseResultMap" type="com.common.vo.PayAdmins">
		<id column="SA_ID" property="saId" jdbcType="BIGINT" />
		<result column="JFID" property="jfid" jdbcType="BIGINT" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="USER_ROLE" property="userRole" jdbcType="VARCHAR" />
		<result column="ADMIN_PASS" property="adminPass" jdbcType="VARCHAR" />
		<result column="USER_STATUS" property="userStatus" jdbcType="VARCHAR" />
		<result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
        SA_ID,JFID,USER_ROLE,USER_NAME,ADMIN_PASS,USER_STATUS,
        LAST_LOGIN_TIME,CREATE_TIME,UPDATE_TIME,DELETE_FLAG
    </sql>
    <select id="runSQL" resultMap="BaseResultMap" parameterType="com.common.vo.JfSql">
        ${sql}
    </select>    
    <select id="selectOnePayAdmin" resultType="com.common.vo.PayAdmins" parameterType="com.common.vo.PayAdmins">
        select
        <include refid="Base_Column_List" />
        from jf_pay_admins where 1=1
            <if test="saId != null and saId != ''">
                and SA_ID = #{saId}
            </if>
            <if test="jfid != null and jfid != ''">
                and JFID = #{jfid}
            </if>
            <if test="userRole != null and userRole != ''">
                and USER_ROLE = #{userRole}
            </if>
            <if test="userName != null and userName != ''">
                and USER_NAME = #{userName}
            </if>
            <if test="adminPass != null and adminPass != ''">
                and ADMIN_PASS = #{adminPass}
            </if>
    </select>
    <select id="selectWithModel" resultMap="BaseResultMap" parameterType="com.common.vo.PayAdmins">
        select
        <include refid="Base_Column_List" />
        from jf_pay_admins where 1=1
            <if test="saId != null and saId != ''">
                and SA_ID = #{saId}
            </if>
            <if test="jfid != null and jfid != ''">
                and JFID = #{jfid}
            </if>
            <if test="userRole != null and userRole != ''">
                and USER_ROLE = #{userRole}
            </if>
            <if test="userName != null and userName != ''">
                and USER_NAME like #{userName}
            </if>
            <if test="adminPass != null and adminPass != ''">
                and ADMIN_PASS = #{adminPass}
            </if>
    </select>
    <delete id="batchDelete" parameterType="java.lang.String">
        delete from jf_pay_admins where SA_ID in
        <foreach collection="array" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="save" parameterType="com.common.vo.PayAdmins" useGeneratedKeys="true">  
    <![CDATA[ 
        insert into 
        jf_pay_admins ( 
            SA_ID,JFID,USER_ROLE,USER_NAME,ADMIN_PASS,USER_STATUS,
            LAST_LOGIN_TIME,CREATE_TIME,UPDATE_TIME,DELETE_FLAG
        ) values ( 
               #{saId,jdbcType=BIGINT},
            #{jfid,jdbcType=BIGINT},
            #{userRole,jdbcType=VARCHAR},
            #{userName,jdbcType=VARCHAR},
            #{adminPass ,jdbcType=VARCHAR},
            #{userStatus ,jdbcType=VARCHAR},
            #{lastLoginTime ,jdbcType=TIMESTAMP},
            #{createTime ,jdbcType=TIMESTAMP},
            #{updateTime ,jdbcType=TIMESTAMP},
            #{deleteFlag ,jdbcType=VARCHAR}
        ) 
    ]]>
    </insert>
    <update id="update" parameterType="com.common.vo.PayAdmins">
        update jf_pay_admins
        <set>
            <if test="jfid != null">
                JFID = #{jfid,jdbcType=BIGINT},
            </if>
            <if test="userRole != null">
                USER_ROLE = #{userRole,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="adminPass != null">
                ADMIN_PASS = #{adminPass,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                USER_STATUS = #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR}
            </if>
        </set>
        where SA_ID = #{saId,jdbcType=BIGINT}
    </update>
</mapper>
